<h1>Stupid Coaching</h1>
<p></p>
<div>Hello, I am your coach, what did you want to ask me?"
<p></p>
<form action="answer">
  <input type="text" name="answer">
  <input type="submit" value="Ask!">
</form>